{% extends "layouts/base.html" %}
{% block title %}Contact Us &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content -->
<div class="my-4">
    <div class="container px-1 px-md-3">
        <div class="row">
            <section class="col-md-10 col-lg-8 col-xl-7 px-2">
                <div class="card">
                    <div class="d-flex justify-content-center">
                        <img class="card-image" src="{{ url_for('static', filename='assets/images/contact.jpg') }}"
                            alt="Image" loading="lazy">
                    </div>
                    <!-- contact form section -->
                    <form id="contact-form" method="post" action="{{ url_for('app.contact') }}" accept-charset="UTF-8">
                        <div class="card-body">
                            <h2 class="card-title">You Need Help?</h2>
                            <p class="mb-4">If you have an issue related to our Blog? Fill out the
                                form below to send me a message.
                            </p>
                            {{ form.csrf_token() }}
                            <!-- name input field -->
                            <div class="form-outline mb-3">
                                {{ form.name.label(class_="form-label") }}
                                {{ form.name(class_="form-control", placeholder="Enter your name") }}
                                {% if form.name.errors %}
                                <p class="text-danger fs-4-150 m-0 mt-1">{{ form.name.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- email input field -->
                            <div class="form-outline mb-3">
                                {{ form.email.label(class_="form-label") }}
                                {{ form.email(class_="form-control", placeholder="Enter your email address") }}
                                {% if form.email.errors %}
                                <p class="text-danger fs-4-150 m-0 mt-1">{{ form.email.errors[0] }}</p>
                                {% else %}
                                <p class="text-muted fs-4-150 m-0 mt-1">
                                    We'll never share your email with anyone else.
                                </p>
                                {% endif %}
                            </div>
                            <!-- mobile input fiel -->
                            <div class="form-outline mb-3">
                                {{ form.mobile.label(class_="form-label") }}
                                {{ form.mobile(class_="form-control", placeholder="Enter your phone number") }}
                                {% if form.mobile.errors %}
                                <p class="text-danger fs-4-150 m-0 mt-1">{{ form.mobile.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- message input field -->
                            <div class="form-outline mb-3">
                                {{ form.message.label(class_="form-label") }}
                                {{ form.message(class_="form-control",
                                placeholder="Type your message", style="height: 8rem") }}
                                {% if form.message.errors %}
                                <p class="text-danger fs-4-150 m-0 mt-1">{{ form.message.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start">
                                {{ form.check(class_="form-check-input me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                        </div>
                        <hr class="m-0">
                        <!-- submit button -->
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}