{% extends "layout.html" %}
{% block title %}
Search Post &#8226; CodingShoding - Learn coding with us
{% endblock %}
{% block body %}

<!-- page content-->
<div class="container-fluid mb-5">
    <div class="row">
        <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-7 col-xl-6">
            <div class="d-flex justify-content-between my-4">
                <h3 class="m-0">Search for <span>'{{ query }}'</span></h3>
                <p class="text-muted my-auto">{{ posts|length }} result</p>
            </div>
            <!-- post preview-->
            {% if posts|length == 0 %}
            <h3 class="my-4">No Post Found</h3>
            <div class="text-center">
                <img src="{{url_for('static', filename='assets/images/read-later.png')}}" alt="">
            </div>

            {% else %}
            {% for post in posts %}
            <article class="post-box mb-2 mb-sm-3 mb-md-4" title="{{ post.title }}">
                <div class="img-wrap" style="background-size: cover;">
                    <div class="cover-image">
                        <a href="{{ url_for('blog.blogpost', slug=post.slug) }}">
                            <img class="image skeleton"
                                src="{{ url_for('static', filename='assets/uploads/thumbnail/'+post.filename) }}"></a>
                    </div>
                </div>
                <div id="preview" class="post-preview">
                    <a href="{{ url_for('blog.blogpost', slug=post.slug) }}">
                        <h3 class="post-title">{{ post.title|title }}</h3>
                        <h3 class="post-subtitle">{{ post.subtitle|safe }}...</h3>
                    </a>
                    <p class="post-meta">by <a class="mx-1"
                            href="{{ url_for('app.dashboard', username=post.user.username) }}"
                            title="Profile &#8226; {{ post.user.username }}">
                            {{ post.user.username }}</a> &#8226; {{ post.created|timeago }}</p>
                </div>
            </article>
            {% endfor %}{% endif %}
        </section>
    </div>
</div>

{% endblock %}