
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc

# database migration and local db.
migrations/
*.sqlite3
*.db

### JetBrains
.idea/
*.iml
*.ipr
*.iws

# Python Virtual environment file, packages..
.env
.venv
env/
venv/
ENV/

*.jpg
*.jpeg
*.png
*.webp