{% extends "admin/base.html" %}
{% block title %}Change Password{% endblock %}
{% block body %}

<main class="my-3">
    <div class="container-xl">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item active"><a class="text-decoration-none text-muted fw-bold"
                        href="{{ url_for('view.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-body"
                        href="{{ url_for('admin.index') }}">Admin</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-muted">Change
                        Password</a></li>
            </ol>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}{% if messages%}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'info' %}
        <div class="alert alert-info alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}{% endfor %}{% endif %}{% endwith %}


        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 col-xl-3">
                <!-- Sidebar -->
                {% include "admin/sidebar.html" %}
            </div>
            <div class="col-sm-9 col-md-7 col-lg-7 col-xl-9">
                <div class="my-3 mx-lg-3">
                    <form action="{{ url_for('admin.change_password') }}" method="post" accept-charset="UTF-8">
                        <h3>Change Your Password</h3>
                        <p>Please enter your old password, for security’s sake, and then enter your new password twice
                            so we can verify you typed it in correctly.</p>
                        <div class="col-sm-10 col-md-9 col-lg-7 col-xl-6">
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="old-password">Old Password</label>
                                </div>
                                <div class="form-outline">
                                    <input id="old-password" class="form-control" type="password" name="old_password"
                                        placeholder="Enter old password" required />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="new-password1">New Password</label>
                                </div>
                                <div class="form-outline">
                                    <input id="new-password1" class="form-control" type="password" name="new_password1"
                                        placeholder="Enter new password" required />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="new-password2">Confirm New Password</label>
                                </div>
                                <div class="form-outline">
                                    <input id="new-password2" class="form-control" type="password" name="new_password2"
                                        placeholder="Confirm new password" required />
                                </div>
                            </div>
                            <div class="d-flex justify-content-start my-3">
                                <input class="form-check-input my-auto me-2" type="checkbox" id="check-input"
                                    required />
                                <label class="form-check-label" for="check-input">
                                    Remember me
                                </label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button id="submit-btn" type="submit" class="btn btn-dark w-100 text-uppercase">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}