{% extends "admin/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<main class="my-3">
    <div class="container-xl">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item active">
                    <a class="text-decoration-none text-muted fw-bold" href="{{ url_for('view.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <a class="text-decoration-none text-muted" href="{{ url_for('admin.index') }}">Admin</a>
                </li>
            </ol>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}{% if messages%}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'info' %}
        <div class="alert alert-info alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}{% endfor %}{% endif %}{% endwith %}


        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-6 col-xl-6">
                <!-- Sidebar -->
                {% include "admin/sidebar.html" %}
            </div>
        </div>
    </div>
</main>

{% endblock %}