
<aside class="border">
    <ul class="nav flex-column bg-light">
        <li class="list-item bg-dark mb-2 p-3">
            <h6 class="text-white text-uppercase fw-bold m-0">Application Permissions</h6>
        </li>
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Permission</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="{{ url_for('admin.show_users') }}">Users</a></b>
            <a href="{{ url_for('admin.add_user') }}" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0 mb-4">
        <li class="list-item bg-dark mb-2 p-3">
            <h6 class="text-white text-uppercase fw-bold m-0">Application Models</h6>
        </li>
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Profile</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Contact</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Blogpost</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Comments</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Likes</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Saves</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0">
        <li class="d-flex justify-content-between m-1">
            <b><a class="nav-link text-muted" href="#">Reply</a></b>
            <a href="" class="my-auto px-2 fs-5"><i class="fa-solid fa-circle-plus"></i></a>
        </li>
        <hr class="m-0 mb-4">
    </ul>
</aside>