<!-- flash messages -->
{% for category, message in messages %}
{% if category == "success" %}
<div class="d-flex justify-content-between alert alert-success alter-dismissible fade show" role="alert">
    <p class="m-0"><i class="bi bi-check-circle me-2"></i>{{ message }}</p>
    <span type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
            class="bi bi-x-lg text-muted align-top" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </span>
</div>
{% elif category == "info" %}
<div class="d-flex justify-content-between alert alert-info alter-dismissible fade show" role="alert">
    <p class="m-0"><i class="bi bi-exclamation-circle me-2"></i>{{ message }}</p>
    <span type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
            class="bi bi-x-lg text-muted align-top" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </span>
</div>
{% elif category == "warning" %}
<div class="d-flex justify-content-between alert alert-warning alter-dismissible fade show" role="alert">
    <p class="m-0"><i class="bi bi-exclamation-triangle me-2"></i>{{ message }}</p>
    <span type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
            class="bi bi-x-lg text-muted align-top" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </span>
</div>
{% else %}
<div class="d-flex justify-content-between alert alert-danger alter-dismissible fade show" role="alert">
    <p class="m-0"><i class="bi bi-x-circle me-2"></i>{{ message }}</p>
    <span type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
            class="bi bi-x-lg text-muted align-top" viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </span>
</div>
{% endif %}{% endfor %}