.alert {
    position: relative;
    padding: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.50rem;
    border: 1px;
    border-left: 0;
    border-right: 0;
    border-color: #cc323200;
    border-style: solid;
    color: #952727;
    background-color: #ff000069;
    transition: all var(--cs-transition-200) ease-in-out;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: normal !important;
}

.alert-dismissible {
    padding-right: 3rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.alert-primary {
    color: #0c768e;
    background-color: #0b819750;
    border-color: #19839b70;
}

.alert-primary .alert-link {
    color: #0c768e;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-secondary {
    color: var(--cs-color-700);
    background-color: #e2e3e550;
    border-color: #b5b7b970;
}

.alert-secondary .alert-link {
    color: var(--cs-color-700);
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-info {
    color: #128aa1;
    background-color: #06a1c440;
    border-color: #2790a570;
}

.alert-info .alert-link {
    color: #128aa1;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-warning {
    color: #9f7a08;
    background-color: #c79a0740;
    border-color: #c0992470;
}

.alert-warning .alert-link {
    color: #ad8610;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-success {
    color: var(--cs-color-success);
    background-color: #03774450;
    border-color: #0f513270;
}

.alert-success .alert-link {
    color: var(--cs-color-success);
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-danger {
    color: var(--cs-color-danger);
    background-color: #860b1740;
    border-color: #84202850;
}

.alert-danger .alert-link {
    color: var(--cs-color-error);
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-light {
    color: #4c4e4e;
    background-color: #fefefe;
    border-color: #dddddd;
}

.alert-light .alert-link {
    color: #4f5050;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-dark {
    color: #e4e7e9;
    background-color: #1c1c1d;
    border-color: #363535;
}

.alert-dark .alert-link {
    color: #e4e7e9;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

@media(max-width:576px) {
    .alert {
        padding: 0.85rem;
    }
}