.alert {
    position: relative;
    padding: 1rem;
    margin-bottom: 0.50rem;
    border: 1px solid #cc323200;
    border-radius: 5px;
    background: #ff000069;
    color: #952727;
    transition: all 0.250s ease-in-out;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 3rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.alert-primary {
    color: #005061;
    background-color: #cce7ec;
    border-color: #b3dae3;
}

.alert-primary .alert-link {
    color: #00404e;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.alert-secondary .alert-link {
    color: #34383c;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-info {
    color: #128aa1;
    background-color: #06a1c43b;
    border-color: #2790a585;
}

.alert-info .alert-link {
    color: #128aa1;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-warning {
    color: #b38b15;
    background-color: #c79a073d;
    border-color: #c0992479;
}

.alert-warning .alert-link {
    color: #ad8610;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-success {
    color: var(--cs-color-success);
    background-color: var(--cs-color-bg-success);
    border-color: #0f513279;
}

.alert-success .alert-link {
    color: var(--cs-color-success);
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-success .alert-link:hover {
    text-decoration: underline;
}

.alert-danger {
    color: var(--cs-color-error);
    background-color: var(--cs-color-bg-error);
    border-color: #7c3434be;
}

.alert-danger .alert-link {
    color: var(--cs-color-error);
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-danger .alert-link:hover {
    text-decoration: underline;
}

.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #dddddd;
}

.alert-light .alert-link {
    color: #4f5050;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

.alert-dark .alert-link {
    color: #101214;
    font-size: inherit;
    font-weight: normal;
    text-decoration: underline;
}

@media(max-width:576px) {
    .alert {
        padding: 0.75rem;
    }
}