{% extends "layout.html" %}
{% block title %}
Edit Post &#8226; {{ post.title }} &#8226; CodingShoding - Learn coding with us
{% endblock %}
{% block body %}

{% with messages = get_flashed_messages(with_categories=True) %}{% if messages %}
{% for category, message in messages %}
{% if category=='success' %}
<div class="d-flex justify-content-between alert alert-success alter-dismissible fade show mx-2 my-3" role="alert">
    <p class="m-0"><i class="bi bi-check2-circle me-2"></i>{{ message }}</p>
    <p type="button" class="m-0" data-bs-dismiss="alert" aria-label="Close">
        <i class="bi bi-x text-muted"></i>
    </p>
</div>
{% elif category=='info' %}
<div class="d-flex justify-content-between alert alert-info alter-dismissible fade show mx-2 my-3" role="alert">
    <p class="m-0"><i class="bi bi-info-circle me-2"></i>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class="bi bi-x text-muted"></i>
    </button>
</div>
{% elif category=='warning' %}
<div class="d-flex justify-content-between alert alert-warning alter-dismissible fade show mx-2 my-3" role="alert">
    <p class="m-0"><i class="bi bi-exclamation-triangle me-2"></i>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class="bi bi-x text-muted"></i>
    </button>
</div>
{% else %}
<div class="d-flex justify-content-between alert alert-danger alter-dismissible fade show mx-2 my-3" role="alert">
    <p class="m-0"><i class="bi bi-x-circle me-2"></i>{{ message }}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <i class="bi bi-x text-muted"></i>
    </button>
</div>{% endif %}{% endfor %}{% endif %}{% endwith %}

<!-- main content -->
<main class="w-100 my-4">
    <div class="container px-0 px-md-3 px-lg-4">
        <div class="row">
            <section class="col-xsm-12 col-md-10 col-lg-8 col-xl-7 px-2">
                <form method="post" action="{{ url_for('blog.edit_post', slug=post.slug) }}" accept-charset="UTF-8"
                    aria-label="Edit Post" enctype="multipart/form-data">
                    {{ form.csrf_token() }}
                    <h2>Edit Post</h2>
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- post category -->
                            <div class="form-outline">
                                {{ form.category.label(class_="form-label") }}
                                {{ form.category(class_="form-select form-select-lg") }}
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- post title -->
                            <div class="form-outline mb-3">
                                <div class="d-flex justify-content-between">
                                    {{ form.title.label(class_="form-label") }}
                                    <span id="title-length" class="my-auto" hidden></span>
                                </div>
                                {{ form.title(class_="form-control form-control-lg",
                                value=post.title, autocomplete="off", spellcheck="false",
                                placeholder="Enter post title") }}
                            </div>
                            <!-- post subtitle -->
                            <div class="form-outline mb-3">
                                <div class="d-flex justify-content-between">
                                    {{ form.subtitle.label(class_="form-label") }}
                                    <span id="subtitle-length" class="my-auto" hidden></span>
                                </div>
                                {{ form.subtitle(class_="form-control form-control-lg",
                                value=post.subtitle, autocomplete="off", spellcheck="false",
                                placeholder="Enter post subtitle") }}
                            </div>
                            <!-- post content -->
                            <div class="form-outline">
                                {{ form.content.label(class_="form-label") }}
                                {{ form.content(class_="form-control form-control-lg",
                                value=post.content) }}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <!-- show cover image preview -->
                            <div id="show-cover-image" class="form-outline mb-3">
                                <div class="card">
                                    <img id="cover-image-show"
                                        src="{{ url_for('static', filename='assets/uploads/thumbnail/'+post.filename) }}" />
                                </div>
                            </div>
                            <!-- upload post cover image -->
                            <div class="form-outline">
                                {{ form.image_file.label(class_="form-label") }}
                                {{ form.image_file(class_="form-control form-control-lg",
                                accept="image/*", onchange="return coverImageChange(this)",
                                placeholder="Upload Post Cover") }}
                            </div>
                        </div>
                        <hr class="m-0" />
                        <div class="card-body">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>

{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/app/editpost.js')}}"></script>
<!-- TinyMCE text editor -->
<script type="text/javascript" src="https://cdn.tiny.cloud/1/{{ tiny_api_key }}/tinymce/5/tinymce.min.js"
    referrerpolicy="origin">
    </script>
<script src="{{ url_for('static', filename='js/tiny.js') }}"></script>
{% endblock %}