{% extends "layouts/base.html" %}
{% block title %}
Change Password &#8226; @{{ current_user.username }} &#8226; {{ params['site_name'] }}
{% endblock %}
{% block body %}

<!-- page content -->
<div class="my-3">
    <div class="container-fluid px-0 px-md-3">
        <div class="row">
            <section class="col-xsm-12 col-sm-10 col-md-4 col-xl-3">
                <div class="card m-2" style="background-color: var(--cs-color-bg-100);">
                    <div class="card-body">
                        <a role="link" href="{{ url_for('auth.settings') }}">
                            <p class="dropdown-padding m-0 mb-1">
                                <i class="bi bi-person-fill me-2"></i>Account
                            </p>
                        </a>
                        <a role="link" href="{{ url_for('auth.change_password') }}">
                            <p class="dropdown-padding active m-0 mb-1">
                                <i class="bi bi-key-fill me-2"></i>Change Password
                            </p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="col-xsm-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <div class="card m-2">
                    <div class="card-body">
                        <!-- change password form section -->
                        <form id="change-password-form" method="post" role="form"
                            action="{{ url_for('auth.change_password') }}" accept-charset="UTF-8">
                            <!-- form heading -->
                            <div class="mb-4">
                                <h3 class="mb-2">Change Your Password</h3>
                                <p class="text-muted">Update your password for enhanced your account security.</p>
                            </div>
                            {{ form.csrf_token() }}
                            <!-- old password input field -->
                            <div class="form-outline mb-4">
                                {{ form.old_password.label(class_="form-label") }}
                                {{ form.old_password(class_="form-control",
                                placeholder="Enter old password") }}
                                {% if form.old_password.errors %}
                                <p id="old-password-error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.old_password.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- new password input field -->
                            <div class="form-outline mb-4">
                                {{ form.new_password.label(class_="form-label") }}
                                {{ form.new_password(class_="form-control",
                                placeholder="Enter new password") }}
                                {% if form.new_password.errors %}
                                <p id="new-password-error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.new_password.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- confirm new password input field -->
                            <div class="form-outline mb-3">
                                {{ form.new_password_confirm.label(class_="form-label") }}
                                {{ form.new_password_confirm(class_="form-control",
                                placeholder="Re-type new password") }}
                                {% if form.new_password_confirm.errors %}
                                <p id="new-password-confirm-error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.new_password_confirm.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center">
                                {{ form.submit(class_="btn btn-primary", role="button") }}
                            </div>
                        </form>
                        <!-- forgot password page link -->
                        <div class="d-flex justify-content-center mt-3">
                            <a role="link" href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}