{% extends "layouts/base.html" %}
{% block title %}Confirm Email &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-5">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- email confirm form section -->
                        <form id="confirm-email-form" method="post" role="form"
                            action="{{ url_for('auth.confirm_email', token=token) }}" accept-charset="UTF-8">
                            <div class="d-flex justify-content-center mb-3">
                                <svg height="165" width="165">
                                    <image href="{{ url_for('static', filename='assets/svg/open-mail.svg') }}"
                                        width="165" height="165" />
                                </svg>
                            </div>
                            <!-- form heading -->
                            <h2 class="text-center mb-2">Confirm Your Email</h2>
                            <div class="text-center mb-4">
                                <p class="text-muted my-3">
                                    You have almost completed the process of resetting your email address.
                                    Please click the button below to confirm your new email.</p>
                            </div>
                            <!-- confirm input field -->
                            <div class="d-flex justify-content-center mb-3">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="submit" role="button" name="confirm" class="btn btn-primary"
                                    value="Confirm">
                            </div>
                            <div class="main-divider main-divider-horizontal my-4" role="separator">
                                <span>or</span>
                            </div>
                            <!-- home page link -->
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('app.index') }}" type="button" role="link"
                                    class="btn btn-outline-secondary">Back To Home</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}