{% extends "layouts/base.html" %}
{% block title %}Login &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-5">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- login form section -->
                        <form id="login-form" method="post" role="form"
                            action="{{ url_for('auth.login', redirect_url=request.args.get('redirect_url')) }}"
                            accept-charset="UTF-8">
                            <h2 class="text-center mb-4">Login Account</h2>
                            {{ form.csrf_token() }}
                            <!-- email input field -->
                            <div class="form-outline mb-4">
                                <div class="d-flex justify-content-between">
                                    {{ form.email.label(class_="form-label") }}
                                </div>
                                {{ form.email(class_="form-control", autocomplete="off",
                                autofocus="true", placeholder="Enter your email address") }}
                                <p id="email-error" class="text-danger my-1" hidden=""></p>
                            </div>
                            <!-- password input field -->
                            <div class="form-outline mb-3">
                                <div class="d-flex justify-content-between">
                                    {{ form.password.label(class_="form-label") }}
                                    <span id="show" class="text-center pointer" hidden>
                                        <i class="bi bi-eye me-1 fs-4-150"></i>show
                                    </span>
                                </div>
                                {{ form.password(class_="form-control",
                                placeholder="Enter your password") }}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2", checked="true") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center mb-3">
                                {{ form.submit(class_="btn btn-primary", disabled="true", role="button") }}
                            </div>
                            <!-- forgot password page link -->
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('auth.forgot_password') }}" role="link">
                                    <p class="m-0">Forgot password?</p>
                                </a>
                            </div>
                            <div class="main-divider main-divider-horizontal my-4" role="separator">
                                <span>or</span>
                            </div>
                            <!-- google login button -->
                            <div class="d-flex mb-4">
                                <a href="{{ url_for('auth.google_login') }}" class="w-100" role="button">
                                    <button type="button" class="btn btn-outline-light">
                                        <svg class="me-2" height="17" width="17">
                                            <image href="{{ url_for('static', filename='svg/social/google-icon.svg') }}"
                                                width="17" height="17" />
                                        </svg>
                                        Continue with Google
                                    </button>
                                </a>
                            </div>
                            <!-- github login button -->
                            <div class="d-flex mb-2">
                                <a href="{{ url_for('auth.github_login') }}" class="w-100" role="button">
                                    <button type="button" class="btn btn-outline-light">
                                        <i class="bi bi-github me-2 fs-4-150"></i>
                                        Continue with Github
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- register page link -->
                <p class="text-center my-3">
                    Don't have an account?
                    <a href="{{ url_for('auth.register') }}" class="fw-bold">Register</a>
                </p>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>
{% endblock %}