{% extends "layouts/base.html" %}
{% block title %}Reset Password &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-5">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- reset password form section -->
                        <form id="reset-password-form" method="post" role="form"
                            action="{{ url_for('auth.reset_password', token=token) }}" accept-charset="UTF-8">
                            <!-- form heading -->
                            <h3 class="text-center mb-4">Reset Your Password</h3>
                            {{ form.csrf_token() }}
                            <!-- password input field -->
                            <div class="form-outline mb-4">
                                {{ form.password.label(class_="form-label") }}
                                {{ form.password(class_="form-control", autofocus="true",
                                placeholder="Enter new password", oninput="checkInput()") }}
                                {% if form.password.errors %}
                                <p id="password-error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.password.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- confirm password input field -->
                            <div class="form-outline mb-3">
                                {{ form.confirm_password.label(class_="form-label") }}
                                {{ form.confirm_password(class_="form-control",
                                placeholder="Enter confirm password", oninput="checkInput()") }}
                                {% if form.confirm_password.errors %}
                                <p id="confirm-password-error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.confirm_password.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <!-- password field match error -->
                            <p id="error" class="text-danger bg-danger-light p-2 rounded mb-3 fs-4-150" hidden>
                                <i class="bi bi-info-circle me-1"></i> Password field's didn't match.
                            </p>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center">
                                {{ form.submit(class_="btn btn-primary", role="button", disabled="true") }}
                            </div>
                        </form>
                    </div>
                    <hr class="m-0">
                    <!-- strong password related details -->
                    <div class="card-body p-3">
                        <div class="text-muted fs-4-150">
                            <ul class="ps-4 mb-1">
                                <li>Password is between 8 to 20 characters long.</li>
                                <li>Mix of uppercase & lowercase letters.</li>
                                <li>Include at least one number & one special character.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth/reset_password.js') }}"></script>
{% endblock %}