{% extends "layouts/base.html" %}
{% block title %}Change Email &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-4">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- change email form section -->
                        <form id="change-email-form" method="post" role="form"
                            action="{{ url_for('auth.update_email') }}" accept-charset="UTF-8">
                            <!-- form heading -->
                            <div class="mb-4">
                                <h3 class="mb-3">Reset Email Address</h3>
                                <p class="fs-3-150">To change your email address please enter new email
                                    we'll send reset link.</p>
                            </div>
                            {{ form.csrf_token() }}
                            <!-- email input field -->
                            <div class="mb-3">
                                <div class="form-outline">
                                    {{ form.email.label(class_="form-label") }}
                                    {{ form.email(class_="form-control", autocomplete="off",
                                    autofocus="true", placeholder="Enter new email address") }}
                                </div>
                                {% if form.email.errors %}
                                <p id="error" class="text-danger fs-4-150 m-0 mt-1">
                                    {{ form.email.errors[0] }}</p>
                                {% else %}
                                <p id="error" class="text-danger fs-4-150 m-0 mt-1" hidden=""></p>
                                {% endif %}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center">
                                {{ form.submit(class_="btn btn-primary", disabled="true", role="button") }}
                            </div>
                            <div class="main-divider main-divider-horizontal my-4" role="separator">
                                <span>or</span>
                            </div>
                            <!-- home page link -->
                            <div class="d-flex justify-content-center mb-2">
                                <a href="{{ url_for('app.index') }}" type="button" role="button"
                                    class="btn btn-outline-secondary">
                                    Back to Home
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/auth/forgot_password.js') }}"></script>
{% endblock %}