{% extends "layouts/base.html" %}
{% block title %}Reset Password &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-5">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- reset password form section -->
                        <form id="reset-password-form" method="post" role="form"
                            action="{{ url_for('auth.reset_password', token=token) }}" accept-charset="UTF-8">
                            {{ form.csrf_token() }}
                            <h3 class="text-center mb-4">Reset Your Password</h3>
                            <!-- password input field -->
                            <div class="form-outline mb-4">
                                {{ form.password.label(class_="form-label") }}
                                {{ form.password(class_="form-control",
                                placeholder="Enter new password", autofocus="true") }}
                            </div>
                            <!-- confirm password input field section -->
                            <div class="form-outline mb-3">
                                {{ form.confirm_password.label(class_="form-label") }}
                                {{ form.confirm_password(class_="form-control",
                                placeholder="Enter confirm password") }}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center mb-3">
                                {{ form.submit(class_="btn btn-primary", role="button") }}
                            </div>
                            <!-- strong password related details -->
                            <div class="text-muted fs-4-150">
                                <ul class="ps-3 mb-1">
                                    <li>Mix of uppercase & lowercase letters.</li>
                                    <li>Password is between 8 to 15 characters long.</li>
                                    <li>Include at least 1 number & 1 special character.</li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/auth/reset.js')}}"></script>
{% endblock %}