{% extends "layouts/base.html" %}
{% block title %}
Setting &#8226; {{ current_user.username }} &#8226; {{ params['site_name'] }}
{% endblock %}
{% block body %}

<!-- page Content -->
<div class="my-3">
    <div class="container-fluid px-0 px-md-3">
        <div class="row">
            <section class="col-xsm-12 col-sm-10 col-md-4 col-xl-3">
                <div class="card m-2" style="background-color: var(--cs-color-bg-100);">
                    <div class="card-body">
                        <a role="link" href="{{ url_for('auth.settings') }}">
                            <p class="dropdown-padding active m-0 mb-1">
                                <i class="bi bi-person-fill me-2"></i>Account
                            </p>
                        </a>
                        <a role="link" href="{{ url_for('auth.change_password') }}">
                            <p class="dropdown-padding m-0 mb-1">
                                <i class="bi bi-key-fill me-2"></i>Change Password
                            </p>
                        </a>
                    </div>
                </div>
            </section>
            <section class="col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <div class="card m-2 mb-3">
                    <div class="card-body">
                        <h3 class="mb-4">
                            Connect Your Account
                        </h3>
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-danger">
                                <i class="bi bi-google me-2 fs-4-150"></i>Connect with Google
                            </button>
                            <button type="button" class="btn btn-dark">
                                <i class="bi bi-github me-2 fs-4-150"></i>Connect with Github
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card m-2 mb-3">
                    <div class="card-body">
                        <h3 class="mb-4">
                            <i class="bi bi-envelope text-primary me-2"></i>Reset Email Address
                        </h3>
                        <div class="form-outline mb-2">
                            <label class="form-label" for="email">Email Address</label>
                            <input class="form-control" id="email" type="email" value="{{ current_user.email }}"
                                disabled="true" placeholder="Enter your email" readonly="true" />
                            <p class=" fs-4-150 my-1"><i>Note: </i><span class="text-muted">If you want to reset your
                                    email address. Please click the button below.</span></p>
                        </div>
                        <!-- reset email page link  -->
                        <div class="d-flex justify-content-start">
                            <a role="link" href="{{ url_for('auth.update_email') }}">
                                <button type="button" role="button" class="btn btn-primary py-2 px-3">Change</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <h3 class="text-danger mb-4">
                            <i class="bi bi-trash me-2"></i>Delete Account
                        </h3>
                        <div class="text-muted">
                            <p class="fw-bold mb-3"><i class="bi bi-exclamation-triangle-fill me-1"></i>
                                Deleting your account will permanently remove all your personal data.</p>
                            <p>Delete your account along with your profile and your authentication associations. This
                                does not include applications permissions. You will have to remove them yourself. </p>
                            <p>Delete all the content you have, such as articles, your profile, your comments, or your
                                saved article list.</p>
                            <p>After deleting account your username will allow to become available for anyone.</p>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="card-body">
                        <div class="d-flex">
                            <button data-bs-toggle="modal" href="#delete-account" class="btn btn-danger w-fit">
                                <i class="bi bi-trash-fill me-2"></i>Delete Account
                            </button>
                        </div>
                        {% include "layouts/modals/delete_account_modal.html" %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}