{% extends "layouts/base.html" %}
{% block title %}Verify Account &#8226; {{ params['site_name'] }}{% endblock %}
{% block body %}

<!-- page content-->
<div class="my-4 my-md-5">
    <div class="container px-1 px-md-5">
        <div class="row">
            <section class="col-xsm-12 col-sm-9 col-md-8 col-lg-6 col-xl-5 px-2">
                <div class="card">
                    <div class="card-body">
                        <!-- account verify form section -->
                        <form id="account-verify-form" method="post" role="form"
                            action="{{ url_for('auth.verify_account', token=token) }}" accept-charset="UTF-8">
                            {{ form.csrf_token() }}
                            <h3 class="text-center mb-4">Verify Your Account</h3>
                            <!-- otp input field -->
                            <div class="form-outline mb-3">
                                {{ form.security_code.label(class_="form-label") }}
                                {{ form.security_code(class_="form-control", autocomplete="off",
                                onkeypress="return checkInput(event)", autofocus="true",
                                placeholder="xxx xxx") }}
                            </div>
                            <!-- check input field -->
                            <div class="d-flex justify-content-start mb-3">
                                {{ form.check(class_="form-check-input my-auto me-2") }}
                                {{ form.check.label(class_="form-check-label") }}
                            </div>
                            <!-- submit button -->
                            <div class="d-flex justify-content-center mb-3">
                                {{ form.submit(class_="btn btn-primary", disabled="true", role="button") }}
                            </div>
                            <div class="main-divider main-divider-horizontal my-4" role="separator">
                                <span>or</span>
                            </div>
                            <!-- resend email otp link -->
                            <div class="text-center">
                                <a role="button" href="#">
                                    <button id="resend-button" class="btn btn-outline-secondary" type="button"
                                        role="button" disabled="true">
                                        Resend OTP</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/auth/verify.js')}}"></script>
{% endblock %}