{% extends "admin/base.html" %}
{% block title %}Add User{% endblock %}
{% block body %}

<main class="my-3">
    <div class="container-xl">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item active"><a class="text-decoration-none text-muted fw-bold"
                        href="{{ url_for('view.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-body"
                        href="{{ url_for('admin.index') }}">Admin</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-body"
                        href="{{ url_for('admin.show_users') }}">Users</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-muted">Add</a></li>
            </ol>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}{% if messages%}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'info' %}
        <div class="alert alert-info alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}{% endfor %}{% endif %}{% endwith %}


        <div class="row">
            <div class="col-sm-9 col-md-4 col-lg-3 col-xl-3">
                <!-- Sidebar -->
                {% include "admin/sidebar.html" %}
            </div>
            <div class="col-sm-9 col-md-8 col-lg-8 col-xl-9">
                <div class="my-3 mx-lg-3">
                    <form action="{{ url_for('admin.add_user') }}" method="post" accept-charset="UTF-8">
                        <h3 class="mb-3">Add New User</h3>
                        <div class="col-sm-10 col-md-10 col-lg-9 col-xl-7">
                            <h4 class="bg-body-tertiary p-2 my-3">User Details</h4>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="username">Username</label>
                                </div>
                                <div class="form-outline">
                                    <input id="username" class="form-control" type="text" name="username"
                                        placeholder="Enter username" required />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="email">Email Address</label>
                                </div>
                                <div class="form-outline">
                                    <input id="email" class="form-control" type="email" name="email"
                                        placeholder="Enter your email" required />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <div class="form-outline">
                                    <input id="password" class="form-control" type="password" name="password"
                                        placeholder="Between 8 to 15 character." required />
                                </div>
                            </div>
                            <h4 class="bg-body-tertiary p-2 my-3">Permission</h4>
                            <div class="d-flex justify-content-start my-3">
                                <input class="form-check-input my-auto me-2" type="checkbox" id="active" />
                                <label class="form-check-label" for="active">
                                    Active
                                </label>
                            </div>
                            <div class="d-flex justify-content-start my-3">
                                <input class="form-check-input my-auto me-2" type="checkbox" id="superuser" />
                                <label class="form-check-label" for="superuser">
                                    Superuser
                                </label>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-center">
                                <button id="submit-btn" type="submit" class="btn btn-dark w-100 text-uppercase">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}