{% extends "admin/base.html" %}
{% block title %}Users{% endblock %}
{% block body %}

<main class="my-3">
    <div class="container-xl">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item active"><a class="text-decoration-none text-muted fw-bold"
                        href="{{ url_for('view.index') }}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-muted"
                        href="{{ url_for('admin.index') }}">Admin</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-muted"
                        href="{{ url_for('admin.change_password') }}">Users</a></li>
            </ol>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}{% if messages%}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif category == 'info' %}
        <div class="alert alert-info alert-dismissible rounded-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}{% endfor %}{% endif %}{% endwith %}


        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 col-xl-3">
                <!-- Sidebar -->
                {% include "admin/sidebar.html" %}
            </div>
            <div class="col-sm-9 col-md-7 col-lg-7 col-xl-9">
                <div class="my-3 mx-lg-3">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-6">
                            <form class="d-flex " role="search">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                    required>
                                <button class="btn" type="submit"><i class="fa-solid fa-search"></i></button>
                            </form>
                        </div>
                        <a href="{{ url_for('admin.add_user') }}" class="my-auto">
                            <button class="btn btn-outline-dark btn-sm" role="button">
                                <i class="fa-solid fa-add me-1"></i>Add User
                            </button>
                        </a>
                    </div>
                    <hr>

                    {% if users %}
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr class="border">
                                <th scope="col">
                                    <input class="form-check-input ms-2" type="checkbox" />
                                </th>
                                <th scope="col">Username</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Created</th>
                                <th scope="col">Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th scope="row"><input class="form-check-input ms-2" type="checkbox" /></th>
                                <td><a href="{{ url_for('admin.edit_user', username=user.username) }}" class="text-decoration-none fw-bold">
                                        {{ user.username }}
                                    </a></td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.created.strftime('%d %b, %Y') }}</td>
                                {% if user.active %}
                                <td class="text-success"><i class="fa-solid fa-circle-check"></i></td>
                                {% else %}
                                <td class="text-danger"><i class="fa-solid fa-circle-xmark"></i></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}